ErrorDocument 400 http://localhost/ChatIKM/administration/?action=erreur&erreur=400
ErrorDocument 401 http://localhost/ChatIKM/administration/?action=erreur&erreur=401
ErrorDocument 402 http://localhost/ChatIKM/administration/?action=erreur&erreur=402
ErrorDocument 403 http://localhost/ChatIKM/administration/?action=erreur&erreur=403
ErrorDocument 404 http://localhost/ChatIKM/administration/?action=erreur&erreur=404
ErrorDocument 405 http://localhost/ChatIKM/administration/?action=erreur&erreur=405
ErrorDocument 500 http://localhost/ChatIKM/administration/?action=erreur&erreur=500
ErrorDocument 501 http://localhost/ChatIKM/administration/?action=erreur&erreur=501
ErrorDocument 502 http://localhost/ChatIKM/administration/?action=erreur&erreur=502
ErrorDocument 503 http://localhost/ChatIKM/administration/?action=erreur&erreur=503
ErrorDocument 504 http://localhost/ChatIKM/administration/?action=erreur&erreur=504
ErrorDocument 505 http://localhost/ChatIKM/administration/?action=erreur&erreur=505